* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
}

.hidden {
  display: none;
}

.captcha {
  position: absolute;
  bottom: -80px;
}
.popper {
  background-color: red;
  color: white;
  width: 150px;
  height: 150px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
}
.extraHeight {
  height: 350px;
}
.textCenter {
  text-align: center;
}

.marginLeft {
  text-align: center;
}

.spinnerMarginLeft {
  margin-left: 5px;
  margin-top: 5px;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.result {
  margin-right: 20px;
}

.marginBottom {
  margin-bottom: 50px;
}

.paddingTop {
  padding-top: 15px;
}

.adminBtns {
  display: flex;
}

.redBubble {
  font-size: 14px;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }

  75% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
